.blr_unblurred {
  color: "";
  text-shadow: "";
}

.blr_blurred {
  color: transparent;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  
}

.blr_blurred a:link {
  color: transparent;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  
}