.blr_unblurred {
  color: "";
  text-shadow: "";
}

.blr_blurred {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  
}

.blr_blurred a:link {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  
}